* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.sidebar {
    min-height: 100dvh;
    background-color: #005b8c;
    /* background-color: #808080e4; */
    /* background-color: #020216ec; */
    /* background-color: #2f4050; */
    /* background-image: linear-gradient(to right, #005b8c); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.div-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    /* background-color: #B3B3B3; */
}

.div-inputs .div {
    width: 100% ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    border-radius: 20px;
}

.div:hover {
    background-color: #14142877;
}

.div-icon {
    width: 25%;
    font-size: 25px;
}

.active {
    background-color: #14142877;
}

/* .logout {
    background-color: #ff0000c0;
} */

.logout:hover {
    background-color: #ff0000c0;
}

i {
    color: white;
}