* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.sidebar {
    min-height: 100dvh;
    background-color: var(--sidebar-bg);
    /* background-color: #005b8c; */
    /* background-color: #808080e4; */
    /* background-color: #020216ec; */
    /* background-color: #2f4050; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.div-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.div-inputs .div {
    width: 100% ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: var(--sidebar-text);
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    border-radius: 20px;
}

.div:hover {
    background-color: var(--sidebar-item-hover);
}

.div-icon {
    width: 25%;
    font-size: 25px;
}

.active {
    background-color: var(--sidebar-item-active);
}

.logout:hover {
    background-color: var(--sidebar-logout-hover);
}

i {
    color: var(--sidebar-text);
}