
.app {
  display: grid;
  grid-template-columns: 256px 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr;
  grid-template-areas: 
  "sidebar navbar navbar"
  "sidebar main main"
  "sidebar main main";
}

.sidebar {
  grid-area: sidebar;
  /* background-color: #FAFBFC; */
}

.navbar {
  grid-area: navbar;
  /* background-color: #FFFFFF; */
}

.main {
  grid-area: main;
  /* background-color: #FFFFFF; */
}


@media screen and (max-width: 750px) {
  
  .app {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "navbar navbar"
      "main main"
      "main main";
    }

    .sidebar {
      display: none;
    }
}